@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Orbitron&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: black;
}

h1 {
  color: rgb(255, 200, 0);
  font-weight: bold;
}

.navbar-brand {
  color: #80ff07;
  font-size: 0.9rem;
}

.nav-link {
  font-size: 0.75rem;
}

.nav-link:hover {
  color: orangered;
  font-size: 0.75rem;
}
/* logo attribution:
<a href="https://www.freepik.com/free-vector/joystick-game-sport-technology_10549680.htm#query=video%20game%20logo&position=11&from_view=search&track=ais">Image by catalyststuff</a> on Freepik
*/

/*
font-family: 'Bungee Shade', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
*/
